{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .example-wrapper{ margin: auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif;}
        .example-wrapper code{background: #f5f5f5; padding: 2px 6px;}
        .error {color: red}
        input[type=button] {background-color: #383938; border: 4px black; color: #bab5b5; padding: 12px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 20px; box-shadow: 0 0 4px 2px #080707;}
    </style>
    <div class="loggincss">
    <div class=".example-wrapper">
        <br><h1>Login</h1><br>
        {% if error %}
            <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form action="{{ path('login') }}" method="POST">
            <input type="text" name="_username" value="{{last_username}}" placeholder="User name..."><br><br>
            <input type="password" name="_password"><br><br>
            <button type="submit">Login</button><br><br>
        </form>
        <a href="/register"> <input type="button" value="Register"></a><br><br>

    </div>
    </div>
{% endblock %}