<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{% block title %}{%endblock%} | Symfony 4 </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <style type="text/css">
        #message_notice {font-weight: 500; text-align: center;}
    </style>
    {% block stylesheets %}{% endblock %}
</head>


<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Exit </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="">Главная</a></li>
            <li><a href="/gameshow/create/quiz">Quiz</a></li>
            <li><a href="/gameshow/create/question">Question</a></li>
            <li><a href="/gameshow/create/answer">Answer</a></li>
        </ul>
    </div>
</nav>


<div id="message_notice">
    {% for flashMessage in app.session.flashbag.get('notice')%}
        {{ flashMessage }}
    {% endfor %}
</div>
<div class="wrapper_body">
    <div class="container_body">
        {% block body %} {% endblock%}
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous">
</script>


</body>{%block javascripts %}{% endblock %}
</html>
