{% extends 'base.html.twig' %}


{% block body %}
    <h3>{{ text }}</h3>
    <div>
        <a href="/register">
            <input type="button" value="Registration" class="register" id="btnReg" />
        </a>
    </div>
{% endblock %}